.faq{
    padding-top: 20px;
    padding-bottom: 50px;
}
.faq__banner{
    background-image: url(../img/faq/faq-bg.webp);
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 66px;
    padding-bottom: 35px;
}
.faq__banner-title{
    font-size: clamp(60px, 6vw, 96px);
    padding-bottom: 20px;
}
.faq__banner-content{
    margin-left: auto;
    margin-right: auto;
    max-width: 665px;
}
.faq__accordion{
    margin-top: 48px;
}
.faq__accordion-item{
  transition: all 0.25s ease;
  overflow: hidden;
  border-bottom: solid 1px var(--grey);
}
.faq__accordion-item:last-of-type{
    border-bottom: none;
}
.faq__accordion-item:first-of-type .faq__accordion-item__head{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.faq__accordion-item:last-of-type .faq__accordion-item__head{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.faq__accordion-item__head{
  font-weight: 700;
  display: flex;
  align-items: center;
  min-height: 91px;
  padding: 26px 89px 26px 48px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}
.faq__accordion-item__head:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    pointer-events: none;
    width: 50px;
    height: 50px;
    background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="-8.97698e-08" y1="11.6602" x2="24" y2="11.6602" stroke="black" stroke-width="2"/><line x1="12" y1="23.373" x2="12" y2="0.000532193" stroke="black" stroke-width="2"/></svg>');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
}
.faq__accordion-item.open .faq__accordion-item__head:before{
    background: url('data:image/svg+xml,<svg width="24" height="2" viewBox="0 0 24 2" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="-8.97698e-08" y1="1" x2="24" y2="0.999998" stroke="black" stroke-width="2"/></svg>');
    background-size: 24px 2px;
    background-repeat: no-repeat;
    background-position: center center;
}
.faq__accordion-item__head span{
    font-weight: 400;
    font-size: 24px;
    color: var(--blue);
    border: solid 1px var(--blue);
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 33px;
    flex-shrink: 0;
}
.faq__accordion-item__wrap {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.faq__accordion-item__content{
  padding: 5px 48px 26px 48px;
  background-color: #fff;
  width: 100%;
}
.faq__wrap{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 34px;
    margin-bottom: 17px;
}
.faq__item{
    width: calc(50% - 8px);
    background-color: #fff;
    border-radius: 5px;
    padding: 27px 45px;
}
.faq__item-head{
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 19px;
}
.faq__item-head-icon{
    width: 74px;
    height: 74px;
    border-radius: 100%;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: var(--light);
    padding: 15px;
}
.faq__info-wrap ._btn-primary{
    margin-left: auto;
}
.faq__info-wrap-inner{
    display: flex;
    align-items: center;
    gap: 45px;
}
.faq__info-wrap-inner img{
    flex-shrink: 0;
}
@media (max-width: 991px) {
    .faq{
        padding-bottom: 30px;
    }
    .faq__item{
        width: 100%;
        padding: 20px 25px;
    }
    .faq__item-head-icon {
        width: 50px;
        height: 50px;
        font-size: 24px;
    }
    .faq__accordion {
        margin-top: 30px;
    }
    .faq__accordion-item__head{
        padding: 15px 50px 15px 20px;
        min-height: auto;
    }
    .faq__accordion-item__head span {
        font-size: 18px;
        width: 24px;
        height: 24px;
        margin-right: 12px;
    }
    .faq__accordion-item__head:before{
        width: 33px; 
        height: 33px;
        background-size: 19px 19px;
    }
    .faq__accordion-item__content {
    padding: 5px 20px 26px 20px;

    }
}
@media (max-width: 576px) {
    .faq__banner{
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }
    .faq__info-wrap{
        flex-wrap: wrap;
    }
    .faq__info-wrap ._btn-primary{
        width: 100%;
    }
    .faq__info-wrap-inner{
        align-items: flex-start;
        gap: 20px;
    }
}